server:
  port: 5057
  #port: ${PORT:0}
spring:
  application:
    name: resell-person
  redis:
    host: localhost
    password:
    port: 6379
    db: 3
    timeout: 60000
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

eureka:
  instance: instance-id=${spring:application:name}:${spring:application:instance_id:${random:value}}
  client:
    service-url:
      defaultzone: http://localhost:8761

api:
  rabbitmq:
    user:
      token:
        exchange: resell.person.auth.token.exchange
        routingkey: #
        routing: process
        queue: resell.person.auth.token.queue

worker:
  rabbitmq:
    exchange: